[Unit]
Description=Cinnamon cheatcodes in live media
ConditionPathExists=/usr/share/c-blues-cinnamon-livesettings/
After=c-blues-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/c-blues-cinnamon-livesettings/cinnamon-cheatcodes start

[Install]
WantedBy=graphical.target
