Source: cblues-cinnamon-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-cinnamon
Vcs-Git: https://git.siduction.org/extra/settings-cinnamon.git
Homepage: https://git.siduction.org/extra/settings-cinnamon

Package: cblues-cinnamon-settings
Architecture: all
Depends: ${misc:Depends},
         cblues-cinnamon-artwork,
         cblues-sddm-settings 
	 | cblues-lightdm-gtk-settings 
	 | cblues-gdm3-settings,
         cblues-common-settings
Description: Cinnamon settings (installed mode)
 Pushes Cinnamon overrides schemas in installed mode

Package: cblues-cinnamon-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         cblues-cinnamon-artwork,
         cblues-cinnamon-settings,
         cblues-common-livesettings,
         cblues-sddm-livesettings
         | cblues-ligthdm-gtk-livesettings
         | cblues-gdm3-livesettings
Description: Cinnamon settings (live mode)
 Provides default settings for appearance and applications of the Cinnamon
 desktop in live mode.
