Source: mow-cinnamon-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-cinnamon
Vcs-Git: https://git.siduction.org/extra/settings-cinnamon.git
Homepage: https://git.siduction.org/extra/settings-cinnamon

Package: mow-cinnamon-settings
Architecture: all
Depends: ${misc:Depends},
         mow-cinnamon-artwork,
         mow-sddm-settings
	 | mow-lightdm-gtk-settings
	 | mow-gdm3-settings,
         mow-common-settings
Description: Cinnamon settings (installed mode)
 Pushes Cinnamon overrides schemas in installed mode

Package: mow-cinnamon-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         mow-cinnamon-artwork,
         mow-cinnamon-settings,
         mow-common-livesettings,
         mow-sddm-livesettings
         | mow-ligthdm-gtk-livesettings
         | mow-gdm3-livesettings
Description: Cinnamon settings (live mode)
 Provides default settings for appearance and applications of the Cinnamon
 desktop in live mode.
