Source: @CODENAME_SAFE@-cinnamon-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-cinnamon
Vcs-Git: https://git.siduction.org/extra/settings-cinnamon.git
Homepage: https://git.siduction.org/extra/settings-cinnamon

Package: @CODENAME_SAFE@-cinnamon-settings
Architecture: all
Depends: ${misc:Depends},
         @CODENAME_SAFE@-cinnamon-artwork,
         @CODENAME_SAFE@-sddm-settings 
	 | @CODENAME_SAFE@-lightdm-gtk-settings 
	 | @CODENAME_SAFE@-gdm3-settings,
         @CODENAME_SAFE@-common-settings
Description: Cinnamon settings (installed mode)
 Pushes Cinnamon overrides schemas in installed mode

Package: @CODENAME_SAFE@-cinnamon-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         @CODENAME_SAFE@-cinnamon-artwork,
         @CODENAME_SAFE@-cinnamon-settings,
         @CODENAME_SAFE@-common-livesettings,
         @CODENAME_SAFE@-sddm-livesettings
         | @CODENAME_SAFE@-ligthdm-gtk-livesettings
         | @CODENAME_SAFE@-gdm3-livesettings
Description: Cinnamon settings (live mode)
 Provides default settings for appearance and applications of the Cinnamon
 desktop in live mode.
