[Unit]
Description=Cinnamon cheatcodes in live media
ConditionPathExists=/usr/share/wintersky-cinnamon-livesettings/
After=wintersky-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/wintersky-cinnamon-livesettings/cinnamon-cheatcodes start

[Install]
WantedBy=graphical.target
